
<div class="map"
      leaflet
      (leafletMapReady)="onMapReady($event)"
      [leafletOptions]="options"
      [leafletLayersControl]="layersControl"
>

  <div leafletDraw
      [leafletDrawOptions]="drawOptions"
  >
  </div>

</div>

<!-- REMAINS FROM ORIGINAL DOCUMENTATION -->
<!-- <div class="map"
      leaflet
      [leafletOptions]="mapOptions"
      [leafletLayersControl]="layersControl"
      [leafletLayers]="layers"
      (leafletMapReady)="onMapReady($event)"
      > -->
      <!-- <div *ngFor="let layer of layers"
            [leafletLayer]="layer"
            (click)="layerClicked($event, layer)">
      </div> -->
<!-- </div> -->
